Olá, {{ name }}
<br />
<br />
<p>
  Aqui está sua chave de confirmação <strong>{{ confirmation }}</strong> ou se preferir clique <a
    href="http://localhost:8000/auth/confirmacao?confirmation={{confirmation}}">aqui</a>
</p>